extends layout

block content
  h1= title

  div(class="container-fluid")
    div(class="row")
      - let result = results
        each item in result
          div(class="col-sm-2") #{item.Jersey_type} #{item.size} #{item.Jersey_number} 