extends layout 

block content 
    h1 = title 

    form(id='JerseyForm', action="/resource/Jersey", method="POST")
        div.form-group
            label.JerseyAttr(for='Jersey_type') Jersey type 
            input#Jersey_type(type='text', name='Jersey_type')
        div.form-group
            label.JerseyAttr(for='size') Jersey size 
            input#size(type='text', name='size')
        div.form-group
            label.JerseyAttr(for='Jersey_number') Jersey number 
            input#Jersey_number(type='number', name='Jersey_number')
        input(type="submit")

    script.
        document.forms['JerseyForm'].addEventListener('submit', (event) => {
            event.preventDefault();

            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target))
            }).then((resp) => {
                return resp.json();
            }).then((body) => {
                alert("Save succeded")
            })x.catch((error) => {
                alert("Save failed " + error)
            });
        });